.comment {
  color: darken(@light-gray, 10%);
  font-style: italic;
}

.constant {
    &.numeric {
        color: @purple;
    }
    &.language {
        color: @yellow;
    }
    &.character {
        color: @purple2;
    }
    &.other {
        color: @orange;
    }
}

.entity {
    &.name {
        &.class,
        &.type,
        &.function {
            color: @blue1;
        }
    }
    &.other.attribute-name {
        color: @light-gray;
    }
}

.invalid {
    &.deprecated {
        color: @yellow;
        text-decoration: underline;
    }
    &.illegal {
        color: @red;
        text-decoration: underline;
    }
}

.keyword {
  color: @green2;
  &.control.include.latex,
  &.control.input.latex,
  &.control.preamble.latex {
      color: @orange2;
  }
}

.meta  {
    color: @blue3;
    &.group.braces.tex {
        color: @orange;
    }
    &.group,
    &.preamble.latex {
        color: @pink;
    }
    &.function,
    &.data,
    &.row2,
    &.cell {
        color: @syntax-text-color;
    }
}

.none {
    color: @syntax-text-color;
}

.punctuation {
    &.section.group,
    &.definition.arguments {
        color: @blue1;
    }
    &.definition.string {
        color: @yellow;
        font-weight: bold;
    }
}

.storage {
  color: @green2;
}

.string {
    &.quoted {
        color: @cyan;
    }
    &.regexp {
        color: @red;
    }
}

.support {
  &.function {
    color: @amber;
    &.builtin {
      color: @green2;
    }
  }
  &.type,
  &.class {
    color: darken(@green3, 10%);
  }
}

.tag {
  &.entity.name {
    color: @blue1;
  }
  &.punctuation.definition {
    &.html,
    &.begin,
    &.end {
      color: @light-gray;
    }
  }
}

.variable {
    color: @yellow;

    &.parameter.latex {
        color: @teal;
    }
}
