.source.css {

  .punctuation {
    &.separator,
    &.terminator {
      color: @syntax-text-color;
    }
    &.property-list.begin,
    &.property-list.end {
      color: @red;
    }
    &.section.function {
      color: @blue4;
    }
  }

  .entity.name {
    color: @green1;
  }
  .attribute-name.class,
  .id {
    color: @orange1;
  }
  .pseudo-element,
  .pseudo-class {
    color: @orange1;
  }

  .property-value {
    color: @blue4;
  }
  .constant.numeric {
    color: @blue4;
    .unit {
      color: @blue4;
    }
  }
  .rgb-value {
    color: @blue4;
  }
  .support.constant {
    color: @blue4;
    &.media {
      color: @red;
    }
  }
  .variable {
      color: @syntax-text-color;
  }

  .keyword.important {
    color: @red;
  }

}
// Less/Sass should have their own files,
// but for just a single override, here should be fine too
.source.less,
.source.scss {
  .keyword.unit {
    color: @blue4;
  }
}
