// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #212121;
@very-dark-gray: #1d1f21;

@cyan: #00BCD4;
@blue1: #0091EA;
@blue2: #00B0FF;
@indigo: #3F51B5;
@purple: #9C27B0;
@pink: #E91E63;
@green: #8BC34A;
@green2: #4CAF50;
@lime: #C6FF00;
@red: #F44336;
@orange: #FF9800;
@orange2: #FF6D00;
@amber: darken(#FFE082, 20%);
@yellow: #FFEB3B;
